

body {
	background-color: #A8ACB6;
  background-image: url("images/keyboard.jpg");
  background-size: 100vh;
  background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
}

h1, h2, h3 {
	font-family: font-family: 'Roboto', sans-serif;;
  color: #C0B3A0;
  font-weight: 700;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #C0B3A0;
}

a:hover {
  color: #E14658;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

#sidebar {
  background-color: #22252C;
  position: fixed;
  width: 120px;
  left: 0;
  top: 0;
  bottom: 0;
}

#page-content {
  margin: 0px auto;
  margin-left: 150px;
}

.card {
  max-width: 700px;
  background-color: #22252C;
  opacity: 0.9;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(192, 179, 160, 0.1);
  padding: 20px;
  margin: 20px;
}

.img-round {
  width: 200px;
  border-radius: 50%;
  border: 5px solid rgba(192, 179, 160, 0.5);
}

.img-movie {
  width: 175px;
}

.text-center {
  text-align: center;
}

.btn-github {
  background-color: #E14658;
  color: white;
  font-weight: 500;
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
  padding: 12px 18px
}

.btn-github:hover {
  color: white;
}

.td-padding {
  padding-left: 20px;
}

.sidebar-nav {
  display: inline-block;
  padding: 5px;
}

.sidebar-li {
  margin-bottom: 50px;
  padding: 0px;
}

.list-inline {
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  margin: 30px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  #sidebar {
    width: 120px;
  }
}
@media (max-width: 750px) {
  /* For a screen < 720px, this CSS will be read */
  #sidebar {
    width: 120px;
  }

  .list-inline > li {
  display: block;
  padding: 0px 20px;
  margin-bottom: 50px;
}
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  #sidebar {
    display: none;
  }

  #page-content {
    margin-left: 10px;
  }

  .list-inline {
  padding-left: 0px;
}

.list-inline > li {
  display: block;
  padding: 0px 20px;
  margin-bottom: 50px;
}
}